/*classes */

.form-group{
	margin-top: 20px; 
	margin-bottom:20px;
}

.container{
	width:100%;
}
.jtron{
	
      padding-top: 20%;
      padding-bottom: 20%;
			background-position: top center;
  	height: auto;
		width:100%;
}

.jtron1 {
      background-image:url("img/electric.jpg");
      background-size: cover;
}

.wide-btn {
	width:100%;
	margin-top:-54px;
}



#box {
		background-color: #FF8C00;
		display:block;
		border-radius:1%;
}

div .img-thumbnail {
		width: 200px;
    height: 200px;
		object-fit:cover;
}

div .boxtwo {
			padding: 20px;

}

.display-4{
		font-size:20px;
}

.bg-light {
	background-color:white;
	
}

.electrician {
		width:400px;
		height:400px;
		margin-top: 40px;

		
}
/*navbar stuff*/


.navbar-custom, .navbar-light, .navbar, .nav {
    background-color: #ffffff;
	border-bottom: 5px solid orange;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(0,0,0,.8);
		
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link , .navbar-toggler-icon {
    color: rgba(0,0,0,.8);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #000;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,140,0);
}



.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,140,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*navbar stuff*/





/*main elements*/


p {
	color: #808080;
	font-family:Roboto,sans-serif;
}

body {
	padding-top: 1.5px;
}

ul a {
	color:white;
}

form {
	border-bottom: 5px solid #428bca;
	border-top: 5px solid #428bca;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	
	
}

footer a {
		color:white;
		font-size: 10px;
}



/*media queries*/

@media all and (max-width:500px){
	
	.jtron {
		padding-top: 200px;
		height: 300px;
	}
	.electrician {
		width: 200px;
		height: 200px;
	}
	
}